%section.mb-8
  .container
    .row.justify-content-center.mb-8
      .col-12.text-center
        %h2.display-1.font-weight-bold Projects
        %p.lead.text-secondary.mb-4 These are some of the groups we work with. 
    .row.justify-content-center.mb-8
      .col-md-4.col-sm-12
        .card.shadow-light-lg.mb-7.mb-md-0.h-100
          .card-zoom
            = image_pack_tag("media/img/projects/svo.png", class: "image-fluid", height: 420)
          .card-body
            %h6.text-uppercase.mb-1.text-muted Stellar Vista Observatory
            %h4.text-uppercase.mb-1.text-muted Website Hosting
      .col-md-4.col-sm-12
        .card.shadow-light-lg.mb-7.mb-md-0.h-100
          .card-zoom
            = image_pack_tag("media/img/projects/mchs.png", class: "image-fluid", height: 420)
          .card-body
            %h6.text-uppercase.mb-1.text-muted Montour County Historical Society
            %h4.text-uppercase.mb-1.text-muted Website Hosting

      .col-md-4.col-sm-12
        .card.shadow-light-lg.mb-7.mb-md-0.h-100
          .card-zoom
            = image_pack_tag("media/img/projects/kku.png", class: "image-fluid", height: 420)
          .card-body
            %h6.text-uppercase.mb-1.text-muted Keep Kanab Unspoiled
            %h4.text-uppercase.mb-1.text-muted Website Hosting
    .row.justify-content-center
      .col-md-4.col-sm-12
        .card.shadow-light-lg.mb-7.mb-md-0.h-100
          .card-zoom
            = image_pack_tag("media/img/projects/amazing-earthfest.png", class: "image-fluid", height: 420)
          .card-body
            %h6.text-uppercase.mb-1.text-muted Amazing Earthfest
            %h4.text-uppercase.mb-1.text-muted Website Hosting
      .col-md-4.col-sm-12
        .card.shadow-light-lg.mb-7.mb-md-0.h-100
          .card-zoom
            = image_pack_tag("media/img/projects/kanab_beautification.png", class: "image-fluid", height: 420)
          .card-body
            %h6.text-uppercase.mb-1.text-muted Kanab Beautification Board
            %h4.text-uppercase.mb-1.text-muted Website Hosting

      .col-md-4.col-sm-12
        .card.shadow-light-lg.mb-7.mb-md-0.h-100
          .card-zoom
            = image_pack_tag("media/img/projects/kku.png", class: "image-fluid", height: 420)
          .card-body
            %h6.text-uppercase.mb-1.text-muted Keep Kanab Unspoiled
            %h4.text-uppercase.mb-1.text-muted Website Hosting

